{{ define "main" }}

  <article class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center lh-copy w-70-ns">
      <a href="./install">
        <div class="home-column">
          <h2 class="home-column-icon"><i class="fa fa-code fa-3x" aria-hidden="true"></i></h2>
          <h3 class="home-column-title">Installation</h2>
          <p class="home-column-text">Installation docs</p>
        </div>
      </a>

      <a href="./faq">
        <div class="home-column">
          <h2 class="home-column-icon"><i class="fa  fa-question fa-3x" aria-hidden="true"></i></h2>
          <h3 class="home-column-title">FAQ</h2>
          <p class="home-column-text">Frequently asked questions</p>
        </div>
      </a>

      <a href="./gallery">
        <div class="home-column">
          <h2 class="home-column-icon"><i class="fa fa-picture-o fa-3x" aria-hidden="true"></i></h2>
          <h3 class="home-column-title">Gallery</h2>
          <p class="home-column-text">Collection of pictures</p>
        </div>
      </a>

      <a href="./info">
        <div class="home-column">
          <h2 class="home-column-icon"><i class="fa fa-info fa-3x" aria-hidden="true"></i></h2>
          <h3 class="home-column-title">Tips and Tricks</h2>
          <p class="home-column-text">Useful info and workarounds</p>
        </div>
      </a>

      <a href="./porting-guide">
        <div class="home-column">
          <h2 class="home-column-icon"><i class="fa fa-sliders fa-3x" aria-hidden="true"></i></h2>
          <h3 class="home-column-title">Porting</h2>
          <p class="home-column-text">Droidian porting guide</p>
        </div>
      </a>

      <a href="./devel">
        <div class="home-column">
          <h2 class="home-column-icon"><i class="fa fa-code fa-3x" aria-hidden="true"></i></h2>
          <h3 class="home-column-title">Developemnt</h2>
          <p class="home-column-text">Droidian platform development</p>
        </div>
      </a>

  </article>

{{ end }}
